body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #4a5568;
}

p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

form {
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

fieldset {
    margin-bottom: 20px;
    border: none;
}

legend {
    font-size: 1.1em;
    font-weight: bold;
    color: #4a5568;
}

div {
    margin-bottom: 10px;
}

label {
    font-size: 16px;
    margin-left: 8px;
}

input[type="radio"] {
    transform: scale(1.2);
    margin-right: 5px;
    cursor: pointer;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

img {
    max-width: 850px;
    margin-bottom: 15px;
}